/* ---------------------- */
/* copyRight 2023 @Bruno
/* ---------------------- */

/*----------------------- */
/* CUSTOM PROPERTY
/* ---------------------- */

:root {
  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(198, 86%, 16%);
  --jet: hsl(0, 0%, 20%);

  /* fonte */
  --ff-poppins: 'EB Garamond', serif;

  --fs-1: 36px;
  --fs-2: 32px;
  --fs-3: 30px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 16px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;
  --fs-12: 11px;

  --fw-500: 500;
  --fw-700: 700;

  /* Trasisition */
  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;

  /* spacing */
  --section-padding: 100px;
}

/*----------------------- */
/* RESET
/* ---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
buttons,
ion-icon {
  display: block;
  color: rgb(57, 128, 74);
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

html :hover {
  color: aquamarine;
  font-family: fantasy;
}

body {
  background: var(--black);
}

body.active {
  overflow: hidden;
}

.container {
  padding: 16px;
}

/*----------------------- */
/* HEADER
/* ---------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 26px;
  transition: var(--transition-2);
  z-index: 3;
}

.header:active {
  background: rgb(71, 221, 231);
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: none;
}

.bt-mobile ion-icon {
  font-size: 26px;
  color: rgb(206, 9, 9);
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
}

.naveber {
  position: fixed;
  top: 0;
  right: -300px;
  background: rgb(26, 46, 83);
  width: 100%;
  max-width: 300px;
  height: 100%;
  transition: var(--transition-2);
  visibility: hidden;
}

.naveber.active {
  right: 0;
  visibility: visible;
  transition: 1.26s ease-out;
}

.naveber-top {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bt-menu {
  color: aliceblue;
  font-size: 25px;
  padding: 5px;
}

.bt-menu ion-icon {
  --ionicon-stroke-width: 81px;
}

.naveber-list {
  border-top: 1px solid hsla(180, 7%, 29%, 0.747);
  margin-bottom: 28px;
}

.naveber-link {
  color: rgb(243, 102, 8);
  font-size: 17px;
  font-weight: lighter;
  padding: 10px 25px;
  border-bottom: 1px solid hsla(180, 10%, 30%, 0.747);
  transition: var(--transition-2);
}

.naveber-link:hover {
  color: rgb(137, 235, 8);
}

.naveber-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.naveber-social-link {
  font-size: 20px;
  color: blueviolet;
  transition: var(--transition-2);
}

.naveber-social-link:hover {
  color: aquamarine;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla rgb(216, 24, 24);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}

.overlay.active {
  pointer-events: all;
}
